confirmation {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

confirmation > h1 {
	font-family: 'Keania One', cursive;
	text-transform: uppercase;
	color: #fff;
}

confirmation > div > button {
    font-family: 'Keania One', cursive;
    text-transform: uppercase;
    margin: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    background-color: #181818;
    color: #bababa;
    font-size: 20px;
    cursor: pointer;
}

confirmation > div > button:hover {
    color: dodgerblue;
}