maps {
    display: flex;
    flex-direction: row;
    counter-reset: counterRow;
    justify-content: center;
    align-items: center;
}

map {
    display: flex;
    flex-direction: column;
    counter-reset: counterColumn;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

map > level {
    display: flex;
    flex-direction: column;
    counter-reset: counterColumn;
    background-color: black;
}

map > level > div {
    display: flex;
}

map > level > div > div {
    display: flex;
    width: 8px;
    height: 8px;
    position: relative;
    background: 25% url(/resources/grid.png);
}

map > level > div > div.M { background-position: 0px -32px; }
map > level > div > div.D { background-position: 0px -40px; }
map > level > div > div.T { background-position: 0px -8px; }
map > level > div > div.R { background-position: 0px -16px; }
map > level > div > div.V { background-position: -8px -8px; }
map > level > div > div.P { background-position: 0px 0px; }
map > level > div > div.E { background-position: 0px -16px; }